@font-face {
  font-family: "Messapia";
  src: url("https://cdn.jsdelivr.net/gh/jesymnsolomon/cyber-power-tools@a8c916c73b8db56ec9e9a0df5ec8beb32d00b1c5/assets/Messapia-Bold.otf")
    format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

